@*@model NetGraph.ViewModels.WorkDetailViewModel*@
<div style="margin-top:1px">
    <span>Roadmap</span></div>
<hr />
<!-- Content -->
<div style="overflow-y: scroll; height: 100%">
   
    <table class="MinorTable" style="width: 100%"  id="ExploderTable" >
        <thead>
            <tr>
                <td>Index</td>
                <td>Denotation</td>
                <td>Chain Nr.</td>
                <td>Department</td>
                <td>Duration</td>
                <td>Operation</td>

            </tr>
        </thead>@*
        <tbody>
            @foreach(var Work in Model.Content)
            {
                <tr>
                    <td>
                        @Work.Element.Index
                    </td>
                    <td>
                        @Work.Element.Denotation
                    </td>
                    <td>
                        @Work.ChainNumber
                    </td>
                    <td>
                        @Work.Department.ShortName
                    </td>
                    <td>
                        @Work.Duration
                    </td>
                    <td>
                        @Work.Name
                    </td>
                </tr>
            }
        </tbody>*@

    </table>

</div>